@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nabla&family=Outfit:wght@300;400;600&family=Roboto+Slab:wght@500&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  height: 100%;
  width: 100%;
}

/* 
html {
  --colorfondo: #f2deba;
  --colorDegradadoCarta: linear-gradient(#0e5e6f, #3a8891);
  --colorDegradadoCartaE: linear-gradient(#0e5e6f, #ffefd6);
  --colorSecundario: #ffefd6;
} */
html {
  --colorfondo: #ffefd6;
  --colorDegradadoCarta: #0e5d6fc5;
  --colorDegradadoCartaE: #6aa4aa;
  --colorSecundario: #f2deba;
  --color-letra: #19282f;
  --table: var(--colorSecundario);
  --font: Major Mono Display;
  --font2: ;
}
/* html.a1 {
  --colorfondo: #b22727;
  --colorDegradadoCarta: #ee5007;
  --colorDegradadoCartaE: #816797;
  --colorSecundario: #006e7f;
  --color-letra: #f8cb2e;
} */
body.arcade {
  --colorfondo: #f55353;
  --colorDegradadoCarta: linear-gradient(#f8b447, #fc6620);
  --colorDegradadoCartaE: #feb139;
  --colorSecundario: #143f6b;
  --color-letra: #f55353;
  --sombra: rgba(255, 255, 255, 0.637);
  --font: nabla;
  --font2: Roboto Slab;
  --table: #e73939d2;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 125px;
  height: 125px;
  perspective: 500px;
  margin: 0.5rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--colorDegradadoCarta);
  display: grid;
  place-content: center;
  font-size: 8rem;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  user-select: none;
  box-shadow: 0px 0px 4px black;
  font-family: var(--font);
  font-size: 1rem;
}

.back {
  background: var(--colorDegradadoCartaE);
  transform: rotateY(180deg);
  font-size: 5em;
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

table {
  margin: auto;
  margin-top: 1rem;
  border: 1px solud black;
  background-color: var(--table);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.281);
}
body {
  background-color: var(--colorfondo);
  display: flex;
}

.match {
  -webkit-animation: blink-1 1s both;
  animation: blink-1 1s both;
  animation-delay: 0.5s;
}

/* .rotate {
  border: 1px solid;
  animation: rotate 2s;
} */
.rotate,
.card {
  transform: rotate(720deg);
}

header {
  width: 100%;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.24);
  border-bottom: 2px solid var(--color-letra);

  background-color: var(--colorSecundario);
}

li {
  list-style: none;
  color: var(--color-letra);
  font-family: var(--font2);
  font-weight: 200;
}
h1 {
  font-size: 4rem;
  font-weight: 100;
  color: var(--color-letra);
  font-family: var(--font);
  /* text-shadow: 1px 1px var(--sombra); */
}

/* //////////////////////MODAL////////////////////////// */
#modal {
  background-color: rgba(128, 128, 128, 0.616);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-letra);
}

#modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font2);
  font-weight: bold;
  background-color: var(--colorSecundario);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.39);
}

/* #modal button {
  font-family: var(--font2);
  color: #19282f;
  font-weight: bold;
  border-radius: 1rem;
  align-self: center;
  margin-top: 1rem;
  width: 80%;
  height: 3rem;
  border-color: #6aa4aa;
}

#modal button:hover {
  color: #ffefd6; 
  background-color: azure;
}
 */

#modal button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0px 3px 0px rgb(68, 66, 66);
  line-height: 35px;
}

#modal button:hover {
  background-color: rgb(78, 64, 64);
}

#modal button:active {
  background-color: black;
  box-shadow: 0 1px #666;
  transform: translateY(5px);
}
